.file-list__item {
  display: flex;
  justify-content: left;
  width: calc(100% - 24px);
  gap: 5px;
}

.file-list__item h4 {
  margin-bottom: 0;
}

.file-list__item .creation-date {
  font-size: 12px;
}

.file-list__item .file-list__right-column,
.file-list__item .file-list__thumbnail {
  display: flex;
  flex-direction: column;
}
.file-list__item .file-list__thumbnail {
  padding-top: 5px;
  width: 50px;
}
.file-list__item .file-list__content {
  flex: 1;
  min-width: 0;
}

/* this is actually just fix for this issue https://github.com/ant-design/ant-design/issues/11869 */
.ant-upload.ant-upload-drag {
  padding: 0;
}
.ant-upload-drag-container {
  padding: 16px;
}

.file-list__select-all {
  text-align: right;
  padding-right: 16px;
  margin-bottom: 5px;
}

.ant-list-item .ant-list-item-action {
  margin-left: 0;
}
