.file-list__item {
  display: flex;
  justify-content: left;
  width: 100%;
  gap: 5px;
}

.file-list__item h4 {
  margin-bottom: 0;
}

.file-list__item .creation-date {
  font-size: 12px;
}

.file-list__item .file-list__right-column,
.file-list__item .file-list__thumbnail {
  display: flex;
  flex-direction: column;
}
.file-list__item .file-list__thumbnail {
  padding-top: 5px;
  width: 50px;
}

/* this is actually just fix for this issue https://github.com/ant-design/ant-design/issues/11869 */
.ant-upload.ant-upload-drag {
  padding: 0;
}
.ant-upload-drag-container {
  padding: 16px;
}
